body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #424242;
}

.full-width {
    padding: 0;
}

.jumbotron {
    margin: 0;
    color: #5a5a5a;
}

.img-full {
    width: 100%;
    height: inherit;
    background-color: dimgray;
    background-size: cover;
}

/*------
IMG-FULL IMAGE LISTING
------*/

.color1 {
    background-color: #C5CAE9;
}

.color2 {
    background-color: #FFE0B2;
}

.image1 {
    width: inherit;
    height: 40rem;
    background-image: url(ImageAssets/SampleGame.png);
    background-size: cover;
    align-content: center;
    color: white;
}

/*------
IMG-FULL IMAGE LISTING END
------*/

.row {
    width: inherit;
}

.promotion-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.promotion-text > h4 {
    margin-top: 9rem;
}

.col-md-6 > img {
    display: block;
}

footer {
    margin-top: 5rem;
}

.currencyicon {
    margin: 5rem;
}